body 
{
    font-family: Arial, sans-serif;
    font-size: 14px;
    
}

a 
{
    text-decoration: none;
    color: black;
}

#signin 
{
    color: white;
}


ul 
{
    list-style-type: none;
}

.barra
{
    display:flex;
    flex-direction: row;
    font-size: 13px;
}

.barra-item-1 
{
    margin-left: -22px;
    margin-right: 20px;
    margin-top: 10px;
}

.barra-item-2 
{
    margin-top: 10px;
}

.barra-item-3
{
    margin-left: auto;
    margin-top: 10px;
}

.barra-item-4
{
    margin-top: 10px;
    margin-left: 15px;
}

.barra-item-5 
{
    margin-top: 7px;
    margin-left: 20px;

}

.barra-item-6
{
    margin-right: 20px;
    margin-left: 20px;
    background-color:   #5c92ff ;
    color: white;
    
    
}

#imagen-logo
{
    display:block;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 5px;
    
}

.formulario 
{
    display: block;
    text-align: center;
}

input 
{
    width: 33%;
    padding: 12px 28px;
    margin: 20px 0;
    border: 1px solid   #d7dbdd;
    border-radius: 30px;
    background-color: white;
    background-image: url("https://img.icons8.com/material-rounded/24/000000/search.png");
    background-repeat: no-repeat;
    background-position: 12px 10px;
}

button 
{
    border: none;
    background-color: #f2f3f4;
    text-decoration: none;
    margin: 1px 2px;
    padding: 6px 13px;
}

.boton-buscar
{
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.google-search 
{
    margin-right: 20px;
    margin-left: -40px;
}
.footer 
{
    display:flex;
    flex-direction: row;
    position: absolute;
    bottom: 0px;
    height: 20px;
    margin-bottom: 0px;
    margin-top: 1px;
    padding: 1px 20px 20px 20px;
    background-color: #f2f3f4;
    width: 97%;
}

.footer-item-1 
{
    margin-right: 25px;
    margin-left: 5px;
    margin-top: 14px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.footer-item-2 
{
    margin-right: 25px;
    margin-top: 14px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.footer-item-3 
{
    margin-top: 14px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.footer-item-4 
{
    margin-left: auto;
    margin-top: 14px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.footer-item-5 
{
    margin-left: 28px;
    margin-top: 14px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.footer-item-6 
{
    margin-left: 25px;
    margin-right: 6px;
    margin-top: 14px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}